@Scripts.Render("~/bundles/backbone")
@Scripts.Render("~/bundles/tfl")
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h3>
                View the TFL bus routes on Google maps.
            </h3>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        Drag and zoom using your mouse.
        <div id="mapLoadError"></div>
        <br/>
        <section class="float-left">
            <ul id="radius-left"></ul>
        </section>
        <div id="map_canvas" style="height:500px"></div>
    </section>
</div>
