
<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(51.515, -0.141),
            zoom: 14,
            scaleControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        google.maps.event.addListener(map, 'dragend', function () { mapDragEnd(map); });
        google.maps.event.addListener(map, 'tilesloaded', function () { mapDragEnd(map); });
    }

    function mapDragEnd(map) {
        var bounds = map.getBounds();
        var center = bounds.getCenter();
        var ne = bounds.getNorthEast();
        
        var radiusMeter = google.maps.geometry.spherical.computeDistanceBetween(center, ne);
        var radiusMiles = radiusMeter * 0.000621371192;
        
        showCoordinateDetails(center, radiusMiles);
        getVisibleBusStops(center, radiusMiles);
    }
    
    function showCoordinateDetails(center, radiusMiles) {
        $('#latLngDiv').html(
            "Center (Lat: " + center.lat() + " Lng: " + center.lng() + ") " +
            "Radius in miles (" + radiusMiles + ")");
    }

    function getVisibleBusStops(center, radiusMiles) {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:9759/api/BusStop/'+ center.lat() +'/' + center.lng + '/' + radiusMiles,
            type: 'GET',
            dataType: "application/json",
            success: function (data) {
                updateBusStopList(data);
            },
            error: function (data) {
                alert(data);
            }
        });
    }
    
    function updateBusStopList(data) {
        var ul = $('#radius-left');
        ul.clear();
        for (var i in data)
            ul.append($('<li></li>').html(data[i].BusStopName));
    }
    
    function loadScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyDelN_I3DeYdJrMUp43bMxOOpgcDwCjy9o&sensor=false&callback=initialize&libraries=geometry";
        document.body.appendChild(script);
    }

    window.onload = loadScript;
</script>

<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">TFL Bus Map</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h3>
                View the TFL bus routes on Google maps.
            </h3>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        Drag and zoom using your mouse. Current map boundary: <div id="latLngDiv">N/A</div>
        <br/>
        <section class="float-left">
            <ul id="radius-left"></ul>
        </section>
        <div id="map_canvas" style="height:500px"></div>
    </section>
</div>
